dataclasses               ~= 0.6
discord.py                ~= 1.5
pyMySQL                   ~= 1.0
numpy                     ~= 1.19
redis                     ~= 3.5
requests                  ~= 2.25
SQLAlchemy                ~= 1.3
termcolor                 ~= 1.1
